$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

// MIXIN FUNCTIONS

@mixin flex($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

%checked{
    border-color: $Purplish-blue;
    background-color: $Light-gray
}
%unchecked{
    border: 1px solid $Light-gray;
    border-radius: 1rem;
    padding: 1.5rem;
}
%align-vertical{
    @include flex(left, center);
    flex-direction: column;
}
%option-style-head{
    color: $Marine-blue;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: .5rem;
}
%option-style-subhead{
    color: $Cool-gray;
    font-size: 1.6rem;
    font-weight: 600;
}
//MEDIA
@mixin sm-screen($size){
    @media(width < $size){
        @content;
    }
}
@mixin lg-screen($size){
    @media(width > $size){
        @content;
    }
}