.plan{
    @extend %align-vertical;
    gap: 1.5rem;

    &__content{
        @include flex(left, start);
        gap: 1.5rem;
    }
    &__content{
        @extend %unchecked;
    }
    &__name{
        @extend %option-style-head;
    }
    &__amount{
        @extend %option-style-subhead;

        p:last-child{
            font-size: 1.4rem;
            color: $Marine-blue;
            padding-top: .5rem;
        }
    }
    input{
        display: none;
        transition: .5rem;
        &:checked + .plan__content{
           @extend %checked;
        }
    }
}

// DURATION TOGGLE BUTTON
.plan-switch{
    @include flex(center, center);
    background-color: $Alabaster;
    margin-top: 2.5rem;
    padding-block: 1.5rem;
    border-radius: 1rem;
}
.toggler{
    
    &__children{
        @include flex(center, center);
        gap: 2rem;
    }
    .duration{
        font-weight: 600;
    }
    .monthly{
        color: $Marine-blue;
    }
    .yearly{
        color: $Cool-gray;
    }
    &__bar{
        position: relative;
        width: 6rem;
        height: 3rem;
        border-radius: 5rem;
        background-color: $Marine-blue;
    }
    &__thumb{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: .5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $White;
        
    }
    input{
        display: none;
    }
    input:checked + &__children &__thumb{
        left: auto;
        right: .5rem;
    }
    input:checked + &__children .yearly{
        color: $Marine-blue;
    }
    input:checked + &__children .monthly{
        color: $Cool-gray
    }
}